.box {
min-width: 200px;
min-height: 200px;
display: inline-block;
background-color: violet;
transition: all .5s ease;
cursor: pointer;
border-radius: 100%;
}
.box2 {
  border-radius: 100%;
  min-width: 200px;
  min-height: 200px;
  display: inline-block;
  background-color: indigo;
  transition: all .5s ease;
  cursor: pointer;
}

/**add box class with button when finsihed with first ten**/
